@using Root.Application.DTOs.ActivityDto
@using Root.Application.DTOs.PackageDtos
<div class="modal fade" id="@ModalId" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Pacote</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input @bind="NewPackage.Name" class="form-control" type="text" id="nome" placeholder="Nome do Pacote">
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preço Base</label>
                    <input @bind="NewPackage.PackageBasePrice" class="form-control" type="number" id="preco" placeholder="Preço Base do pacote">
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea @bind="NewPackage.Description" class="form-control" type="text" id="descricao" placeholder="Descricao do Pacote"></textarea>
                </div>
                <div class="mb-3">
                    <label for="atividades" class="form-label">Atividades</label>
                    <div class="d-flex">
                        <select @bind="CurrentActivityId" id="atividades" class="form-select">
                            <option selected>Selecione uma actividade</option>
                            @foreach (var act in ListActivities)
                            {
                                <option value="@act.Id">@act.Name</option>
                            }
                        </select>
                        <button class="btn btn-primary" @onclick="AddActivity">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                    </div>
                    <ol class="list-group list-group-numbered">
                        @foreach (var act in NewListActivities)
                        {
                            <li class="list-group-item d-flex align-items-center justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">@act.Name</div>
                                    @act.Description
                                </div>
                                <button class="btn" @onclick="() => { RemoveActivity(act.Id);}">
                                    <i class="bi bi-x"></i>
                                </button>
                            </li>
                        }
                    </ol>
                </div>
                <small class="text-danger">@erro</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="UpdateNewPackage">Salvar</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public ListPackageDto Package { get; set; }
    [Parameter] public Action OnPackageUpdated { get; set; }
    public ListPackageDto NewPackage { get; set; } = new();
    public ListPackageDto OldPackage { get; set; } = new();
    public string erro { get; set; } = "";

    public List<ListActivityDto> ListActivities { get; set; } = [];
    public List<ListActivityDto> OldListActivities { get; set; } = [];
    public List<ListActivityDto> NewListActivities { get; set; } = [];
    public Guid CurrentActivityId { get; set; }

    public string ModalId => $"editPackageModal_{Package.Id}";

    protected override async Task OnInitializedAsync()
    {
        NewPackage = Package;
        OldPackage = new ListPackageDto
        {
            Id = NewPackage.Id,
            Description = NewPackage.Description,
            Type = NewPackage.Type,
            PackageBasePrice = NewPackage.PackageBasePrice,
            ActivityNames = NewPackage.ActivityNames.ToList(),
            ActivitiesPackagePrice = NewPackage.ActivitiesPackagePrice,
            Name = NewPackage.Name,
            Duration = NewPackage.Duration
        };
        
        ListActivities = await activities.GetAllActivitiesAsync();
        foreach (var act in OldPackage.ActivityNames)
        {
            var activity = ListActivities.FirstOrDefault(l => l.Name == act);
            if(activity is not null)
                OldListActivities.Add(activity);
        }

        NewListActivities = OldListActivities.ToList();
    }

    public void AddActivity()
    {
        var currentAct = ListActivities.First(c => c.Id == CurrentActivityId);
        if (!NewListActivities.Contains(currentAct))
            NewListActivities.Add(currentAct);
        StateHasChanged();
    }
    
    public void RemoveActivity(Guid actId)
    {
        var currentAct = ListActivities.First(c => c.Id == actId);
        if (NewListActivities.Contains(currentAct))
            NewListActivities.Remove(currentAct);
        StateHasChanged();
    }

    public async void UpdateNewPackage()
    {
        if (string.IsNullOrEmpty(NewPackage.Name)
            || string.IsNullOrEmpty(NewPackage.Description)
            || !(NewListActivities.Count > 0))
        {
            erro = "Por favor preencha todos campos!!";
            StateHasChanged();
            return;
        }

        var updatedPackage = new UpdatePackageDto
        {
            Id = NewPackage.Id,
            Description = NewPackage.Description == OldPackage.Description ? null : NewPackage.Description,
            PackageBasePrice = NewPackage.PackageBasePrice == OldPackage.PackageBasePrice ? null : NewPackage.PackageBasePrice,
            Name = NewPackage.Name == OldPackage.Name ? null : NewPackage.Name,
            Type = NewPackage.Type == OldPackage.Type ? null : NewPackage.Type,
            ActivityIds = NewListActivities == OldListActivities ? null : NewListActivities.Select(l => l.Id) as List<Guid>
        };
        
        var result = await packages.UpdatePackageAsync(updatedPackage);
        if (!result)
        {
            erro = "Ocorreu um erro ao tentar criar o pacote!!";
            StateHasChanged();
            return;
        }
        
        StateHasChanged();
        OnPackageUpdated.Invoke();
        await JS.InvokeVoidAsync("closeModal", ModalId);
    }
}